@page "/"
@inherits Home

<h3>Auto List</h3>

@if (Autos == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var auto in Autos)
        {
            <li>@auto.Name</li>
        }
    </ul>
}